@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
}
/*
    #011F26 escura

    #027368  clara */


 header nav{
    text-align: right;
    margin-right: 300px;
    padding-bottom: 20px;
    background-color:#083c56;
    
    
}

header nav a{
    margin: 10px;
    color: white;

}

div{
    margin: 10px;
    display: inline;
} 

header{
    margin-bottom: 20px;
    background-color:#083c56;
    color: white;
}

header h1{
    text-align: center;


    
}

header p {
    text-align: center;
}
#enquadro{
    display: block;
   
    width: 70vw;
    height: 80vh;
    color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: -260px;
    
}
main{
    margin-top: -20px;
    background-color:#01080E;
    width: 99vw;    
    height: 99vh;
    color: white;
}

main h2{
    margin-top: 60px;
    width: 200px;
}
main h1{
    padding: 10px;
}
main nav > a{
    display: block;
    margin: 20px;
    width: 170px;
    height: 30px;
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 10px;
       
}

main nav > a:hover{
    background-color: rgba(255, 255, 255, 0.358);
}



footer{
    background-color:#01080E ;
    height: 140px;
}
footer #redes{
    font-size: 1.2em;
    

}
footer > div> ul>li{
    margin: 5px;
    color: white;
}
footer > p{
    text-align: right;
    font-size: 1.2em;
    margin-top: -60px;
    margin-right: 200px;
    color: #01080E;
  


}