@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
    
}
/*
    #062c4e cor header
    #0f6aba cor borda
    #05213a cor main
    #01080E cor footer
     */
body{
    height: 70vh;
}
header{
    margin-bottom: 20px;
    background-color:#01080E;
    color: white;
    border-bottom:1px solid;
}
 header nav{
    text-align: right;
    margin-right: 300px;
    padding-bottom: 20px;
    background-color:;
    
    
}

header nav a{
    margin: 10px;
    color:white;

}




header h1{
    text-align: center;


    
}

header p {
    text-align: center;
}


main{
    margin-top: -20px;
    background-color:#000e19;
    padding-bottom: 10px; 
    height: 99vh;
    color: white;
}

main h2{
    margin-top: 60px;
    width: 200px;
}
main h1{
    padding: 10px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    width: 450px;
    margin-bottom: 40px;
}
main nav{
    margin-left: 230px;
    margin-top: 50px;
    width: 1200px;
    height: 100px;
    
   
    padding: 30px;
    border: 1px solid white;
}
main nav > a{
    display: inline-block;
    margin-right:80px;
    margin-left: 80px;
    width: 170px;
    height: 30px;
    text-align: left;
    color:white;
    text-decoration: none;
    padding: 20px;
    border: 1px solid white;
    border-radius:  10px 0px;
    
    
   
       
}



main nav > a:hover{
    border: 2px solid rgba(255, 255, 255, 0.505);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    transition: transform 0.3s, border 0.2s ;
}
#moldura{
    border: 1px solid white;
    width: 800px;
    height: 220px;
    margin: auto;
    margin-top: 100px;
}
#moldura:hover{
    border: 2px solid rgba(255, 255, 255, 0.505);
    transform: translate(0px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    transition: transform 0.3s, border 0.2s ;
    box-shadow: rgba(0, 0, 0, 0.418);
    border: 1px solid rgb(0, 71, 112);
}

#curso{

    width: 400px;
    margin-left: 360px;
    
}
#conteudo{
    margin-top: -210px;
}
 #curso a {
    display: block;
    width: 100px;
   padding: 5px;
    color: white;
    background-color: #053a68;
    margin-top: 110px;
    margin-left: 280px;
    text-decoration: none;

    
}
#blok{
    display: inline-block;
    width: 240px;
    height: 200px;
    background-color: white;
    margin-left: -340px;
    margin-top: 10px;
}

footer{
    background-color: #041c31;
    height: 140px;
    padding-top: 10px;
    padding-bottom: -15px;
    
}
footer #redes{
    font-size: 1.2em;
    

}
footer > div> ul>li{
    margin: 5px;
    color:white;
    margin-top: 5px;
}
footer > p{
    text-align: right;
    font-size: 1.2em;
    
    margin-right: 200px;
  
    color:white;
  
}