@charset 'UTF-8';

/*
    #062c4e cor header
    #0f6aba cor borda
    #05213a cor main
    #01080E cor footer
     */


@media screen and (min-width: 992px) {
     main > div#menu{
       
        height: 200px;
        align-items: center;
        
     
        
    }

    main > div.conteudo{
        
    }
     main > div#menu> nav > a{
        padding: 40px;
        width: 200px;
        text-align: center;
     }
   
    main > div.conteuo > div#img{
        float: left;
        
        
    }
     main>div.conteudo{
       
        width: 40vw;
        border-radius: 5px;
        
     }

     main > div.conteudo > div#descricao{
        float: right;

     }
 }
   