@charset 'UTF-8';

/*
    #062c4e cor header
    #0f6aba cor borda
    #05213a cor main
    #01080E cor footer
     */


@media screen and (min-width: 992px) {
     main > div{
       
        height: 200px;
        align-items: center;
        
     
        
    }
     main > div > nav > a{
        padding: 40px;
        width: 200px;
        text-align: center;
     }
   
 }
   